@import '@/app/globals.scss';

.map-panel-church-selected {
  .church-description p {
    font-size: 14px;
  }

  .create-account-container {
    padding: 16px 24px;
    background-color: $color-light-gray;
    border-radius: 10px;
  }

  .church-picture-container {
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    aspect-ratio: 4/3;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .map-panel-container .map-panel-background .map-panel-body {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
