@use 'sass:color';

$color-white: #ffffff;
$color-charcoal: #37393b;
$color-green: #00833e;
$color-orange: #ff6c37;
$color-yellow: #ffb900;
$color-purple: #4b348d;
$color-blue: #327abd;
$color-pink: #e11f5c;
$color-light-gray: #f5f7f8;

$theme-colors: (
  'primary': $color-blue,
  'secondary': $color-orange,
  'tertiary': $color-light-gray,
  'danger': $color-pink,
);

@import '~bootstrap/scss/bootstrap';

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

h4 {
  font-size: 28px;
  font-weight: 350;
  line-height: 140%;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
}

p {
  line-height: 140%;
  font-size: 16px;
}

a {
  color: $color-charcoal;

  transition: filter 0.5s ease;
  &.blue {
    color: $color-blue;
  }
  &.purple {
    color: $color-purple;
  }
  &.pink {
    color: $color-pink;
  }
  &:hover {
    cursor: pointer;
    filter: brightness(85%);
  }
}

.bold {
  font-weight: 700;
}

.text-white {
  color: $color-blue;
}
.text-blue {
  color: $color-blue;
}
.text-purple {
  color: $color-purple;
}
.text-pink {
  color: $color-pink;
}
.text-orange {
  color: $color-orange;
}
.text-green {
  color: $color-green;
}

.text-small {
  font-size: 14px;
}

button.btn,
a.btn,
.button {
  border-radius: 100px;
  padding: 12px 32px;
  font-size: 16px;
  border: 0;
  transition: background-color 0.3s ease;

  &.btn-sm {
    padding: 8px 24px;
    font-size: 16px;
  }
  &.btn-lg {
    padding: 12px 32px;
    font-size: 20px;
    font-weight: 700;
  }
  &.btn-secondary {
    color: $color-white;
  }
  &.btn-inverse {
    color: $color-blue;
    background-color: $color-white;
    &:hover {
      // background-color: lighten($color-charcoal, 50%);
      background-color: $color-charcoal;
      color: $color-white;
    }
  }
  // &:hover {
  //   background-color: darken($color-blue, 10%);
  // }

  &.link {
    background-color: transparent;
    color: $color-blue;
    cursor: pointer;
    &:hover {
      background-color: darken($color-light-gray, 5%);
    }
  }
}

.link {
  background-color: transparent;
  color: $color-pink;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  input[type='submit'] {
    align-self: center;
    margin-top: 8px;
  }

  input[type='text'],
  input[type='email'],
  select.form-select,
  textarea {
    padding: 16px 24px;
    border: 1px solid lighten($color-charcoal, 40%);
    border-radius: 4px;
    font-size: 16px;
  }

  input[disabled],
  input[readonly],
  textarea[disabled],
  textarea[readonly] {
    background-color: darken($color-light-gray, 2%);
    color: lighten($color-charcoal, 25%);
  }
}

.modal {
  .modal-content {
    border-radius: 24px;
    box-shadow: 2px 2px 10px;
  }
  h4.modal-title {
    font-weight: 700;
  }
  .loading-container {
    text-align: center;
    margin: 48px 0;
  }
}

.modal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tag {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  color: $color-white;
  padding: 0px 12px;
  border-radius: 4px;
  display: inline-block;

  &.pink {
    background-color: $color-pink;
  }
  &.purple {
    background-color: $color-purple;
  }
}

.stage-tag {
  text-transform: uppercase;
  font-size: 10px;
  padding: 4px 16px;
  border-radius: 4px;
  color: $color-white;
  font-weight: 700;
  display: inline-block;

  &.new {
    background-color: $color-yellow;
    color: $color-charcoal;
  }
  &.gathering-interest {
    background-color: $color-purple;
  }
  &.planning-organizing {
    background-color: $color-blue;
  }
  &.running {
    background-color: $color-green;
  }
  &.completed {
    background-color: $color-charcoal;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 40px;
  }

  .small-only {
    display: initial;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .small-only {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
