$color-white: #ffffff;
$color-black: #000000;
$color-charcoal: #37393b;
$color-green: #00833e;
$color-orange: #ff6c37;
$color-yellow: #ffb900;
$color-purple: #4b348d;
$color-blue: #327abd;
$color-pink: #e11f5c;
$color-light-gray: #f5f7f8;
