@import '@/app/globals.scss';

.subtitle-container {
  position: relative;
  margin-bottom: 48px;
  .subtitle {
    color: $color-charcoal;
  }

  .subtitle-underline {
    position: absolute;
    left: 0;
    width: 96px;
    height: 6px;
    background-color: $color-pink;
    border-radius: 0 100px 100px 0;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title-container {
    margin-bottom: 24px;
    .title {
      padding-bottom: 12px;
      color: $color-charcoal;
    }
    .title-underline {
      width: 96px;
      height: 3px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
