@use 'sass:color';
@import '@/app/globals.scss';

.page-churches {
  .loading-container {
    display: inline-block;
    text-align: center;
    margin: 150px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    .loading-label {
      color: $color-charcoal;
      margin-top: 8px;
    }
  }
  .church-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .church-card {
    text-align: center;
    width: 300px;
    cursor: pointer;
    .church-image-container {
      width: 100%;
      height: 250px;
      border-radius: 25px;
      box-shadow: 0 4px 10px color.change($color-charcoal, $alpha: 0.2);
      transition: box-shadow 0.5s ease;
    }
    .church-name {
      font-weight: 700;
      transition: color 0.5s ease;
    }
    .church-address {
      font-size: 16px;
    }

    &:hover {
      .church-image-container {
        box-shadow: 0 4px 10px color.change($color-charcoal, $alpha: 0.7);
      }
      .church-name {
        color: $color-blue;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page-churches {
    .church-card-container {
      flex-direction: column;
      align-items: center;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
