@use 'sass:color';
@import '@/app/variables.scss';

.footer-container {
  background-color: $color-charcoal;
  box-shadow: 0px -2px 10px $color-charcoal;
  overflow: visible;
  z-index: 100;
  position: relative;
  padding: 24px 0;
  display: flex;
  align-items: center;

  .logo-container {
    flex-grow: 0;
    flex-shrink: 0;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    .logo {
      width: 100px;
      height: auto;
    }
  }

  .footer-inner-container {
    flex-grow: 1;
  }

  .footer-row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px 0;
    gap: 24px;
  }

  hr {
    border: none;
    border-top: 1px solid color.change($color-white, $alpha: 0.5);
    // width: 100%;
    margin: 4px 24px 12px;
  }

  .footer-row2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    z-index: 100;
    padding: 0px 24px 24px;
    gap: 12px;

    .collaboration-text {
      color: color.adjust($color-light-gray, $alpha: -0.4);
      font-size: 14px;
    }

    .copyright-text {
      color: $color-light-gray;
      font-size: 14px;
    }
  }

  .logo-text {
    font-size: 20px;
    font-weight: 600;
    color: $color-white;
    flex-grow: 1;
  }

  .pages-container {
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    .page {
      padding: 8px 30px;
      cursor: pointer;
      color: $color-white;
      font-size: 16px;
      position: relative;
      text-decoration: none;

      &:hover {
        color: $color-pink;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    .logo-container {
      margin: 24px 0;
    }
    .footer-row1-container {
      flex-direction: column;
    }
    .pages-container {
      flex-direction: column;
      text-align: center;
      margin-bottom: 24px;
    }

    .footer-row2-container {
      margin: 24px 16px;
      text-align: center;
      align-items: center;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
