@use 'sass:color';
@import '@/app/globals.scss';

.map-panel-button-container {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 50px;
  height: 50px;
  transition: all 300ms ease-out;

  &.open {
    transform: translateX(64px);
  }

  .map-panel-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: $color-pink;
    border-radius: 32px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
  }
}

.map-panel-container {
  position: absolute;
  top: 24px;
  bottom: 24px;
  right: min(-450px, -25vw);
  width: clamp(300px, 20vw, 400px);
  transition: all 300ms ease-out;

  &.open {
    transform: translateX(min(-450px, -25vw));
  }

  .close {
    position: absolute;
    top: 21px;
    right: 16px;
    border-radius: 100px;
    z-index: 100;
    cursor: pointer;

    &:hover {
      background-color: color.change($color-charcoal, $alpha: 0.6);
    }
  }

  .map-panel-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 24px 0 0 24px;
    padding: 24px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;

    .map-panel-title {
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 16px;
    }
    .map-panel-body {
      line-height: 140%;
      margin-top: 16px;
      text-align: center;
    }

    .loading-container {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: auto;
      left: min(15vw, 24px);
      right: min(15vw, 24px);
      .loading-label {
        color: $color-blue;
        margin-top: 8px;
      }
    }
  }
}

.submit-button {
  align-self: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .map-panel-container {
    // top: 100px;
    top: 100vh;
    height: 50vh;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 300ms ease-out;

    &.open {
      transform: translateY(-59vh);
    }

    .map-panel-background {
      border-radius: 24px 24px 0 0;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
