.prayer-walk-modal-modal {
  .modal-dialog {
    min-width: 768px;
  }
  .form-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: stretch;
    input {
      min-width: 0;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .prayer-walk-modal-modal {
    .modal-dialog {
      min-width: initial;
      .form-body {
        .name-container {
          flex-direction: column;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // .prayer-walk-modal-modal {
  //   .modal-dialog {
  //     min-width: 550px;
  //   }
  // }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
