@import '@/app/globals.scss';

section {
  padding: 64px;
  border-radius: 0 0 24px 24px;
  z-index: 2;
  position: relative;

  .section-inner-container {
    gap: 32px;
  }

  .section-body {
    font-size: 18px;
    display: flex;
    gap: 32px;
    p {
      margin-top: 24px;
      margin-bottom: 24px;
      font-size: inherit;
    }
    p,
    h4,
    h5 {
      max-width: 768px;
    }
  }
}

.shaded {
  background-color: $color-light-gray;
}
.section-underlay {
  position: absolute;
  z-index: 1;
  top: -24px;
  left: 0;
  right: 0;
  height: 24px;
  // background-color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  section {
    padding: 48px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-inner-container {
    max-width: 1200px;
    margin: auto;
  }
}
